<ul class="nav nav-stacked" id="github">
    <li><a href="http://www.github.com/petrbouda/joyrest"><i class="fa fa-link" style="color: black"></i>&nbsp;&nbsp;GitHub - JoyRest</a></li>
    <li><a href="https://github.com/petrbouda/joyrest/archive/master.zip"><i class="fa fa-file-text" style="color: black"></i>&nbsp;&nbsp;Download ZIP file</a></li>
    <li><a href="https://github.com/petrbouda/joyrest/archive/master.tar.gz"><i class="fa fa-file-text" style="color: black"></i>&nbsp;&nbsp;Download TAR.GZ file</a></li>
</ul>