<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <servlet>
        <servlet-name>Joy REST Service</servlet-name>
        <servlet-class>org.joyrest.servlet.ServletApplicationHandler</servlet-class>
        <init-param>
            <param-name>applicationJavaConfig</param-name>
            <param-type>org.joyrest.examples.servlet.ApplicationBinder</param-type>
        </init-param>
        <init-param>
            <param-name>configurer</param-name>
            <param-type>org.joyrest.hk2.HK2Configurer</param-type>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>Joy REST Service</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
</web-app>