<!DOCTYPE html>
<html>

{% include head.html %}

<body>

{% include header.html %}

<!-- Begin Body -->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-danger" style="text-align: center" role="alert">
                <span class="alert-link">JoyRest is under the construction! The first release is scheduled for early June.</span>
            </div>
        </div>
        {{ content }}
    </div>
</div>

<!-- script references -->
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/scripts.js"></script>
<script src="/prism/prism.js"></script>
</body>
</html>