<!DOCTYPE html>
<html>

{% include head.html %}

<body>

{% include header.html %}

<!-- Begin Body -->
<div class="container">
    <div class="row">

        {{ content }}

        <div class="footer">
            <div style="float: left">© 2015 Petr Bouda - JoyRest</div>
            <div style="float: right; text-align: right">
                <a href="../index.html">Home</a>&nbsp;|&nbsp;
                <a href="../contact.html">Contact</a>&nbsp;|&nbsp;
                <a href="../license.html">License</a>
            </div>
            <div style="clear: both"></div>
        </div>
    </div>
</div>

<!-- script references -->
<script src="/joyrest/js/jquery.min.js"></script>
<script src="/joyrest/js/bootstrap.min.js"></script>
<script src="/joyrest/js/scripts.js"></script>
<script src="/joyrest/prism/prism.js"></script>
</body>
</html>